# compiled output
/build
/src/application/schema/compiled
/node_modules

# Customs
.env
dumps

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*
newrelic_agent.log

# OS
.DS_Store

# Tests
/coverage
/.nyc_output
/test/component/results/*
.scannerwork
.clinic

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml

# IDE - VSCode
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - WebStorm
.idea
!.idea/icon.svg
